body,
html {
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.lane {
  background-color: gray;
  height: 8vw;
  margin-top: 1vw;
  width: 100vw;
  position: relative;
}
.zombie {
  position: absolute;
  top: 1vw;
  height: 6vw;
  width: 6vw;
  background-image: url("zombie.png");
  background-size: 100% 100%;
  transition: left 0.1s linear;
}

.TVzombie {
  filter: hue-rotate(180deg);
}

.space {
  position: absolute;
  top: 0;
  height: 8vw;
  width: 8vw;
  background-color: black;
  background-size: 100% 100%;
}

.turret {
  position: absolute;
  top: 0;
  height: 8vw;
  width: 8vw;
  background-image: url("turret.png");
  background-size: 100% 100%;
}

.projectile {
  position: absolute;
  top: 3vw;
  height: 4vw;
  width: 5vw;
  background-image: url("bullet.png");
  background-size: 100% 100%;
  transition: left 0.1s linear;
}
