body {
  margin: 0;
  font-family: HCo Gotham SSm, Helvetica Neue, Helvetica, Arial, Lucida Grande,
    sans-serif;
}

.Header {
  background-color: #dee1e3;

  font-weight: bolder;
  font-size: large;
}

.headerrow {
  display: flex;
}

.headerrow > div {
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid transparent;
}
.headerrow.gray > div {
  filter: grayscale(100%);
}
.headerrow.gray > div:hover {
  filter: grayscale(0%);
}
.headerrow.grow > div,
.searchbox {
  flex-grow: 1;
}
.headerrow.borders > div:hover {
  border-bottom: 2px solid black;
}

.search {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #777777;
  display: flex;
  flex-grow: 1;
}

.search input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
}

.avatar img {
  border-radius: 1000px;
  overflow: hidden;
  box-shadow: 4px 4px 4px #30402b9e;
}

.me {
  display: flex;
  align-items: center;
}
.username {
  font-size: 30px;
  font-weight: bolder;
  border: none;
  outline: none;
}
.avatar {
  padding: 10px;
}
.titlerowtop {
  font-size: 24px;
  font-weight: bolder;
}
.titlerow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.titlerowbottom {
  font-weight: bold;
  font-size: 20px;
}
.friends,
.games {
  display: flex;
  justify-content: flex-start;
}
.cardavatar img {
  border-radius: 1000px;
  overflow: hidden;
  box-shadow: 4px 4px 4px #30402b9e;
}
.cardavatar {
  padding: 10px;
}
.card {
  padding: 10px;
  width: 120px;
}
.cardname {
  padding: 10px;
}
.home {
  max-width: 970px;
  width: 100%;
}
.→ {
  font-size: xx-large;
}

.games .cardavatar img {
  width: 150px;
  height: 150px;
}
.games .feedback img {
  width: 60px;
  height: 50px;
  vertical-align: middle;
}
.games .card {
  width: 150px;
}
.games .cardname {
  font-size: x-large;
}
.cardname {
  font-weight: bold;
}
