body,
html {
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.lane {
  background-color: gray;
  height: 8vw;
  margin-top: 1vw;
  width: 100vw;
  position: relative;
}
.zombie {
  --size: 6vw;
  position: absolute;
  top: 1vw;
  height: var(--size);
  width: var(--size);
  background-image: url("sprite.png");
  background-position: 0 0;
  background-size: calc(var(--size) * 8) calc(var(--size) * 2);
  background-repeat: no-repeat;
  transition: left 0.1s linear;
  animation: walkZ 0.8s steps(2) infinite;
}

@keyframes walkZ {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(-1 * var(--size) * 2) 0;
  }
}

.TVzombie {
  background-position: calc(-1 * var(--size) * 4) 0;
  animation: walkZ2 0.8s steps(2) infinite;
}
@keyframes walkZ2 {
  from {
    background-position: calc(-1 * var(--size) * 4) 0;
  }
  to {
    background-position: calc(-1 * var(--size) * 6) 0;
  }
}

.space {
  position: absolute;
  top: 0;
  height: 8vw;
  width: 8vw;
  background-color: rgb(15, 133, 0);
  background-size: 100% 100%;
}

.turret {
  position: absolute;
  top: 0;
  height: 8vw;
  width: 8vw;
  background-image: url("turret.png");
  background-size: 100% 100%;
}

.turret.CCC {
  filter: hue-rotate(180deg);
}

.healthbarbackground {
  position: absolute;
  top: -1vw;
  left: 0;
  height: 1vw;
  width: 8vw;
  background-color: black;
}

.healthbar {
  position: absolute;
  top: 0.1vw;
  left: 0.1vw;
  height: 0.8vw;
  width: 7.8vw;
  background-color: #00ff0d;
}

.projectile {
  position: absolute;
  top: 3vw;
  height: 4vw;
  width: 5vw;
  background-image: url("bullet.png");
  background-size: 100% 100%;
  transition: left 0.1s linear;
}

#popup {
  opacity: 0;
  transition: opacity 2s linear;
}

.turretPopup {
  background-color: whitesmoke;
  z-index: 1;
  position: absolute;
  top: 7.8vw;
  border-radius: 1vw;
  padding: 1vw;
  border: 0.5vw solid black;
  box-shadow: 2vw 2vw 7vw midnightblue;
  font-size: 2vw;
  width: 16vw;
}

.button,
.button2 {
  display: inline-block;
  background-image: url("turret.png");
  background-size: 100% 100%;
  height: 8vw;
  width: 8vw;
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
}
.button2 {
  filter: hue-rotate(180deg);
}

.button:disabled,
.button2:disabled {
  filter: grayscale(100%);
}
